* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}

/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    width: 420px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

input[type="file"] {
    margin: 15px 0;
    width: 100%;
}

.image-box {
    width: 100%;
    height: 220px;
    border: 2px dashed #a5d6a7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
    border-radius: 10px;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #1b5e20;
}

/* LOADER */
.loader {
    display: none;
    margin: 15px auto;
    border: 4px solid #c8e6c9;
    border-top: 4px solid #2e7d32;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* RESULT */
.result {
    margin-top: 15px;
}

#prediction {
    color: #d32f2f;
}

#confidence {
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px;
}
